<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>    
    <add name="EmploymentProfilerDB" connectionString="metadata=res://*/EmploymentProfilerDB.csdl|res://*/EmploymentProfilerDB.ssdl|res://*/EmploymentProfilerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=EmploymentProfiler;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>